.body {
    background-color: hsl(300, 74%, 85%);;
} 
.banner {
    background-color: hsl(300, 74%, 85%);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}